<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundata.metadata.dao.mapper.AddressManagerPOMapper" >
  <resultMap id="BaseResultMap" type="com.yundata.metadata.model.po.AddressManagerPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="addressee_name" property="addresseeName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="local_province" property="localProvince" jdbcType="VARCHAR" />
    <result column="local_city" property="localCity" jdbcType="VARCHAR" />
    <result column="local_town" property="localTown" jdbcType="VARCHAR" />
    <result column="street_address" property="streetAddress" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="operating_personnel_id" property="operatingPersonnelId" jdbcType="VARCHAR" />
    <result column="user_info_id" property="userInfoId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, addressee_name, telephone, local_province, local_city, local_town, street_address, 
    zip_code, operating_personnel_id, user_info_id, create_time, update_time, is_default
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundata.metadata.model.po.AddressManagerPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from address_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from address_manager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundata.metadata.model.po.AddressManagerPOExample" >
    delete from address_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundata.metadata.model.po.AddressManagerPO" >
    insert into address_manager (id, addressee_name, telephone, 
      local_province, local_city, local_town, 
      street_address, zip_code, operating_personnel_id, 
      user_info_id, create_time, update_time, 
      is_default)
    values (#{id,jdbcType=VARCHAR}, #{addresseeName,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{localProvince,jdbcType=VARCHAR}, #{localCity,jdbcType=VARCHAR}, #{localTown,jdbcType=VARCHAR}, 
      #{streetAddress,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{operatingPersonnelId,jdbcType=VARCHAR}, 
      #{userInfoId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDefault,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yundata.metadata.model.po.AddressManagerPO" >
    insert into address_manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addresseeName != null" >
        addressee_name,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="localProvince != null" >
        local_province,
      </if>
      <if test="localCity != null" >
        local_city,
      </if>
      <if test="localTown != null" >
        local_town,
      </if>
      <if test="streetAddress != null" >
        street_address,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="operatingPersonnelId != null" >
        operating_personnel_id,
      </if>
      <if test="userInfoId != null" >
        user_info_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="addresseeName != null" >
        #{addresseeName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="localProvince != null" >
        #{localProvince,jdbcType=VARCHAR},
      </if>
      <if test="localCity != null" >
        #{localCity,jdbcType=VARCHAR},
      </if>
      <if test="localTown != null" >
        #{localTown,jdbcType=VARCHAR},
      </if>
      <if test="streetAddress != null" >
        #{streetAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="operatingPersonnelId != null" >
        #{operatingPersonnelId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundata.metadata.model.po.AddressManagerPOExample" resultType="java.lang.Integer" >
    select count(*) from address_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update address_manager
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.addresseeName != null" >
        addressee_name = #{record.addresseeName,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.localProvince != null" >
        local_province = #{record.localProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.localCity != null" >
        local_city = #{record.localCity,jdbcType=VARCHAR},
      </if>
      <if test="record.localTown != null" >
        local_town = #{record.localTown,jdbcType=VARCHAR},
      </if>
      <if test="record.streetAddress != null" >
        street_address = #{record.streetAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.zipCode != null" >
        zip_code = #{record.zipCode,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingPersonnelId != null" >
        operating_personnel_id = #{record.operatingPersonnelId,jdbcType=VARCHAR},
      </if>
      <if test="record.userInfoId != null" >
        user_info_id = #{record.userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update address_manager
    set id = #{record.id,jdbcType=VARCHAR},
      addressee_name = #{record.addresseeName,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      local_province = #{record.localProvince,jdbcType=VARCHAR},
      local_city = #{record.localCity,jdbcType=VARCHAR},
      local_town = #{record.localTown,jdbcType=VARCHAR},
      street_address = #{record.streetAddress,jdbcType=VARCHAR},
      zip_code = #{record.zipCode,jdbcType=VARCHAR},
      operating_personnel_id = #{record.operatingPersonnelId,jdbcType=VARCHAR},
      user_info_id = #{record.userInfoId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_default = #{record.isDefault,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundata.metadata.model.po.AddressManagerPO" >
    update address_manager
    <set >
      <if test="addresseeName != null" >
        addressee_name = #{addresseeName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="localProvince != null" >
        local_province = #{localProvince,jdbcType=VARCHAR},
      </if>
      <if test="localCity != null" >
        local_city = #{localCity,jdbcType=VARCHAR},
      </if>
      <if test="localTown != null" >
        local_town = #{localTown,jdbcType=VARCHAR},
      </if>
      <if test="streetAddress != null" >
        street_address = #{streetAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="operatingPersonnelId != null" >
        operating_personnel_id = #{operatingPersonnelId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundata.metadata.model.po.AddressManagerPO" >
    update address_manager
    set addressee_name = #{addresseeName,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      local_province = #{localProvince,jdbcType=VARCHAR},
      local_city = #{localCity,jdbcType=VARCHAR},
      local_town = #{localTown,jdbcType=VARCHAR},
      street_address = #{streetAddress,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      operating_personnel_id = #{operatingPersonnelId,jdbcType=VARCHAR},
      user_info_id = #{userInfoId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_default = #{isDefault,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>