<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundata.metadata.dao.mapper.BrandInfoSimplePOMapper" >
  <resultMap id="BaseResultMap" type="com.yundata.metadata.model.po.BrandInfoSimplePO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="zch" property="zch" jdbcType="VARCHAR" />
    <result column="gjfl" property="gjfl" jdbcType="VARCHAR" />
    <result column="sbwz_ls" property="sbwzLs" jdbcType="VARCHAR" />
    <result column="sqrq" property="sqrq" jdbcType="TIMESTAMP" />
    <result column="sqrmc_zw" property="sqrmcZw" jdbcType="VARCHAR" />
    <result column="csggqh" property="csggqh" jdbcType="VARCHAR" />
    <result column="csggrq" property="csggrq" jdbcType="TIMESTAMP" />
    <result column="zcggqh" property="zcggqh" jdbcType="VARCHAR" />
    <result column="zcggrq" property="zcggrq" jdbcType="TIMESTAMP" />
    <result column="dlrmc" property="dlrmc" jdbcType="VARCHAR" />
    <result column="need_attention" property="needAttention" jdbcType="DECIMAL" />
    <result column="new_process" property="newProcess" jdbcType="VARCHAR" />
    <result column="new_process_date" property="newProcessDate" jdbcType="TIMESTAMP" />
    <result column="zyqqx_end" property="zyqqxEnd" jdbcType="TIMESTAMP" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="sblx" property="sblx" jdbcType="VARCHAR" />
    <result column="sqrmc_yw" property="sqrmcYw" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="shengfen_code" property="shengfenCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="has_xuzhan" property="hasXuzhan" jdbcType="DECIMAL" />
    <result column="country_code" property="countryCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lastsblcitem" property="lastsblcitem" jdbcType="CHAR" />
    <result column="sysp_qzcodes" property="syspQzcodes" jdbcType="VARCHAR" />
    <result column="sqrmc_zw_id_card_no" property="sqrmcZwIdCardNo" jdbcType="VARCHAR" />
    <result column="progress" property="progress" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, zch, gjfl, sbwz_ls, sqrq, sqrmc_zw, csggqh, csggrq, zcggqh, zcggrq, dlrmc, need_attention, 
    new_process, new_process_date, zyqqx_end, id_card_no, sblx, sqrmc_yw, last_update_date, 
    shengfen_code, city_code, has_xuzhan, country_code, status, lastsblcitem, sysp_qzcodes, 
    sqrmc_zw_id_card_no, progress, tags
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand_info_simple
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from brand_info_simple
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from brand_info_simple
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePOExample" >
    delete from brand_info_simple
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePO" >
    insert into brand_info_simple (id, zch, gjfl, 
      sbwz_ls, sqrq, sqrmc_zw, 
      csggqh, csggrq, zcggqh, 
      zcggrq, dlrmc, need_attention, 
      new_process, new_process_date, zyqqx_end, 
      id_card_no, sblx, sqrmc_yw, 
      last_update_date, shengfen_code, city_code, 
      has_xuzhan, country_code, status, 
      lastsblcitem, sysp_qzcodes, sqrmc_zw_id_card_no, 
      progress, tags)
    values (#{id,jdbcType=VARCHAR}, #{zch,jdbcType=VARCHAR}, #{gjfl,jdbcType=VARCHAR}, 
      #{sbwzLs,jdbcType=VARCHAR}, #{sqrq,jdbcType=TIMESTAMP}, #{sqrmcZw,jdbcType=VARCHAR}, 
      #{csggqh,jdbcType=VARCHAR}, #{csggrq,jdbcType=TIMESTAMP}, #{zcggqh,jdbcType=VARCHAR}, 
      #{zcggrq,jdbcType=TIMESTAMP}, #{dlrmc,jdbcType=VARCHAR}, #{needAttention,jdbcType=DECIMAL}, 
      #{newProcess,jdbcType=VARCHAR}, #{newProcessDate,jdbcType=TIMESTAMP}, #{zyqqxEnd,jdbcType=TIMESTAMP}, 
      #{idCardNo,jdbcType=VARCHAR}, #{sblx,jdbcType=VARCHAR}, #{sqrmcYw,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{shengfenCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{hasXuzhan,jdbcType=DECIMAL}, #{countryCode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{lastsblcitem,jdbcType=CHAR}, #{syspQzcodes,jdbcType=VARCHAR}, #{sqrmcZwIdCardNo,jdbcType=VARCHAR}, 
      #{progress,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePO" >
    insert into brand_info_simple
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zch != null" >
        zch,
      </if>
      <if test="gjfl != null" >
        gjfl,
      </if>
      <if test="sbwzLs != null" >
        sbwz_ls,
      </if>
      <if test="sqrq != null" >
        sqrq,
      </if>
      <if test="sqrmcZw != null" >
        sqrmc_zw,
      </if>
      <if test="csggqh != null" >
        csggqh,
      </if>
      <if test="csggrq != null" >
        csggrq,
      </if>
      <if test="zcggqh != null" >
        zcggqh,
      </if>
      <if test="zcggrq != null" >
        zcggrq,
      </if>
      <if test="dlrmc != null" >
        dlrmc,
      </if>
      <if test="needAttention != null" >
        need_attention,
      </if>
      <if test="newProcess != null" >
        new_process,
      </if>
      <if test="newProcessDate != null" >
        new_process_date,
      </if>
      <if test="zyqqxEnd != null" >
        zyqqx_end,
      </if>
      <if test="idCardNo != null" >
        id_card_no,
      </if>
      <if test="sblx != null" >
        sblx,
      </if>
      <if test="sqrmcYw != null" >
        sqrmc_yw,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="shengfenCode != null" >
        shengfen_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="hasXuzhan != null" >
        has_xuzhan,
      </if>
      <if test="countryCode != null" >
        country_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastsblcitem != null" >
        lastsblcitem,
      </if>
      <if test="syspQzcodes != null" >
        sysp_qzcodes,
      </if>
      <if test="sqrmcZwIdCardNo != null" >
        sqrmc_zw_id_card_no,
      </if>
      <if test="progress != null" >
        progress,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zch != null" >
        #{zch,jdbcType=VARCHAR},
      </if>
      <if test="gjfl != null" >
        #{gjfl,jdbcType=VARCHAR},
      </if>
      <if test="sbwzLs != null" >
        #{sbwzLs,jdbcType=VARCHAR},
      </if>
      <if test="sqrq != null" >
        #{sqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sqrmcZw != null" >
        #{sqrmcZw,jdbcType=VARCHAR},
      </if>
      <if test="csggqh != null" >
        #{csggqh,jdbcType=VARCHAR},
      </if>
      <if test="csggrq != null" >
        #{csggrq,jdbcType=TIMESTAMP},
      </if>
      <if test="zcggqh != null" >
        #{zcggqh,jdbcType=VARCHAR},
      </if>
      <if test="zcggrq != null" >
        #{zcggrq,jdbcType=TIMESTAMP},
      </if>
      <if test="dlrmc != null" >
        #{dlrmc,jdbcType=VARCHAR},
      </if>
      <if test="needAttention != null" >
        #{needAttention,jdbcType=DECIMAL},
      </if>
      <if test="newProcess != null" >
        #{newProcess,jdbcType=VARCHAR},
      </if>
      <if test="newProcessDate != null" >
        #{newProcessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zyqqxEnd != null" >
        #{zyqqxEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="sblx != null" >
        #{sblx,jdbcType=VARCHAR},
      </if>
      <if test="sqrmcYw != null" >
        #{sqrmcYw,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shengfenCode != null" >
        #{shengfenCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="hasXuzhan != null" >
        #{hasXuzhan,jdbcType=DECIMAL},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastsblcitem != null" >
        #{lastsblcitem,jdbcType=CHAR},
      </if>
      <if test="syspQzcodes != null" >
        #{syspQzcodes,jdbcType=VARCHAR},
      </if>
      <if test="sqrmcZwIdCardNo != null" >
        #{sqrmcZwIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePOExample" resultType="java.lang.Integer" >
    select count(*) from brand_info_simple
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update brand_info_simple
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.zch != null" >
        zch = #{record.zch,jdbcType=VARCHAR},
      </if>
      <if test="record.gjfl != null" >
        gjfl = #{record.gjfl,jdbcType=VARCHAR},
      </if>
      <if test="record.sbwzLs != null" >
        sbwz_ls = #{record.sbwzLs,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrq != null" >
        sqrq = #{record.sqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sqrmcZw != null" >
        sqrmc_zw = #{record.sqrmcZw,jdbcType=VARCHAR},
      </if>
      <if test="record.csggqh != null" >
        csggqh = #{record.csggqh,jdbcType=VARCHAR},
      </if>
      <if test="record.csggrq != null" >
        csggrq = #{record.csggrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zcggqh != null" >
        zcggqh = #{record.zcggqh,jdbcType=VARCHAR},
      </if>
      <if test="record.zcggrq != null" >
        zcggrq = #{record.zcggrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dlrmc != null" >
        dlrmc = #{record.dlrmc,jdbcType=VARCHAR},
      </if>
      <if test="record.needAttention != null" >
        need_attention = #{record.needAttention,jdbcType=DECIMAL},
      </if>
      <if test="record.newProcess != null" >
        new_process = #{record.newProcess,jdbcType=VARCHAR},
      </if>
      <if test="record.newProcessDate != null" >
        new_process_date = #{record.newProcessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zyqqxEnd != null" >
        zyqqx_end = #{record.zyqqxEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idCardNo != null" >
        id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sblx != null" >
        sblx = #{record.sblx,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrmcYw != null" >
        sqrmc_yw = #{record.sqrmcYw,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null" >
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shengfenCode != null" >
        shengfen_code = #{record.shengfenCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hasXuzhan != null" >
        has_xuzhan = #{record.hasXuzhan,jdbcType=DECIMAL},
      </if>
      <if test="record.countryCode != null" >
        country_code = #{record.countryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastsblcitem != null" >
        lastsblcitem = #{record.lastsblcitem,jdbcType=CHAR},
      </if>
      <if test="record.syspQzcodes != null" >
        sysp_qzcodes = #{record.syspQzcodes,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrmcZwIdCardNo != null" >
        sqrmc_zw_id_card_no = #{record.sqrmcZwIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.progress != null" >
        progress = #{record.progress,jdbcType=INTEGER},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update brand_info_simple
    set id = #{record.id,jdbcType=VARCHAR},
      zch = #{record.zch,jdbcType=VARCHAR},
      gjfl = #{record.gjfl,jdbcType=VARCHAR},
      sbwz_ls = #{record.sbwzLs,jdbcType=VARCHAR},
      sqrq = #{record.sqrq,jdbcType=TIMESTAMP},
      sqrmc_zw = #{record.sqrmcZw,jdbcType=VARCHAR},
      csggqh = #{record.csggqh,jdbcType=VARCHAR},
      csggrq = #{record.csggrq,jdbcType=TIMESTAMP},
      zcggqh = #{record.zcggqh,jdbcType=VARCHAR},
      zcggrq = #{record.zcggrq,jdbcType=TIMESTAMP},
      dlrmc = #{record.dlrmc,jdbcType=VARCHAR},
      need_attention = #{record.needAttention,jdbcType=DECIMAL},
      new_process = #{record.newProcess,jdbcType=VARCHAR},
      new_process_date = #{record.newProcessDate,jdbcType=TIMESTAMP},
      zyqqx_end = #{record.zyqqxEnd,jdbcType=TIMESTAMP},
      id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      sblx = #{record.sblx,jdbcType=VARCHAR},
      sqrmc_yw = #{record.sqrmcYw,jdbcType=VARCHAR},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      shengfen_code = #{record.shengfenCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      has_xuzhan = #{record.hasXuzhan,jdbcType=DECIMAL},
      country_code = #{record.countryCode,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      lastsblcitem = #{record.lastsblcitem,jdbcType=CHAR},
      sysp_qzcodes = #{record.syspQzcodes,jdbcType=VARCHAR},
      sqrmc_zw_id_card_no = #{record.sqrmcZwIdCardNo,jdbcType=VARCHAR},
      progress = #{record.progress,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePO" >
    update brand_info_simple
    <set >
      <if test="zch != null" >
        zch = #{zch,jdbcType=VARCHAR},
      </if>
      <if test="gjfl != null" >
        gjfl = #{gjfl,jdbcType=VARCHAR},
      </if>
      <if test="sbwzLs != null" >
        sbwz_ls = #{sbwzLs,jdbcType=VARCHAR},
      </if>
      <if test="sqrq != null" >
        sqrq = #{sqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sqrmcZw != null" >
        sqrmc_zw = #{sqrmcZw,jdbcType=VARCHAR},
      </if>
      <if test="csggqh != null" >
        csggqh = #{csggqh,jdbcType=VARCHAR},
      </if>
      <if test="csggrq != null" >
        csggrq = #{csggrq,jdbcType=TIMESTAMP},
      </if>
      <if test="zcggqh != null" >
        zcggqh = #{zcggqh,jdbcType=VARCHAR},
      </if>
      <if test="zcggrq != null" >
        zcggrq = #{zcggrq,jdbcType=TIMESTAMP},
      </if>
      <if test="dlrmc != null" >
        dlrmc = #{dlrmc,jdbcType=VARCHAR},
      </if>
      <if test="needAttention != null" >
        need_attention = #{needAttention,jdbcType=DECIMAL},
      </if>
      <if test="newProcess != null" >
        new_process = #{newProcess,jdbcType=VARCHAR},
      </if>
      <if test="newProcessDate != null" >
        new_process_date = #{newProcessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zyqqxEnd != null" >
        zyqqx_end = #{zyqqxEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="idCardNo != null" >
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="sblx != null" >
        sblx = #{sblx,jdbcType=VARCHAR},
      </if>
      <if test="sqrmcYw != null" >
        sqrmc_yw = #{sqrmcYw,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shengfenCode != null" >
        shengfen_code = #{shengfenCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="hasXuzhan != null" >
        has_xuzhan = #{hasXuzhan,jdbcType=DECIMAL},
      </if>
      <if test="countryCode != null" >
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastsblcitem != null" >
        lastsblcitem = #{lastsblcitem,jdbcType=CHAR},
      </if>
      <if test="syspQzcodes != null" >
        sysp_qzcodes = #{syspQzcodes,jdbcType=VARCHAR},
      </if>
      <if test="sqrmcZwIdCardNo != null" >
        sqrmc_zw_id_card_no = #{sqrmcZwIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundata.metadata.model.po.BrandInfoSimplePO" >
    update brand_info_simple
    set zch = #{zch,jdbcType=VARCHAR},
      gjfl = #{gjfl,jdbcType=VARCHAR},
      sbwz_ls = #{sbwzLs,jdbcType=VARCHAR},
      sqrq = #{sqrq,jdbcType=TIMESTAMP},
      sqrmc_zw = #{sqrmcZw,jdbcType=VARCHAR},
      csggqh = #{csggqh,jdbcType=VARCHAR},
      csggrq = #{csggrq,jdbcType=TIMESTAMP},
      zcggqh = #{zcggqh,jdbcType=VARCHAR},
      zcggrq = #{zcggrq,jdbcType=TIMESTAMP},
      dlrmc = #{dlrmc,jdbcType=VARCHAR},
      need_attention = #{needAttention,jdbcType=DECIMAL},
      new_process = #{newProcess,jdbcType=VARCHAR},
      new_process_date = #{newProcessDate,jdbcType=TIMESTAMP},
      zyqqx_end = #{zyqqxEnd,jdbcType=TIMESTAMP},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      sblx = #{sblx,jdbcType=VARCHAR},
      sqrmc_yw = #{sqrmcYw,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      shengfen_code = #{shengfenCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      has_xuzhan = #{hasXuzhan,jdbcType=DECIMAL},
      country_code = #{countryCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      lastsblcitem = #{lastsblcitem,jdbcType=CHAR},
      sysp_qzcodes = #{syspQzcodes,jdbcType=VARCHAR},
      sqrmc_zw_id_card_no = #{sqrmcZwIdCardNo,jdbcType=VARCHAR},
      progress = #{progress,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>