<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundata.metadata.dao.mapper.BrandInfoBaseinfoPOMapper" >
  <resultMap id="BaseResultMap" type="com.yundata.metadata.model.po.BrandInfoBaseinfoPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="zch" property="zch" jdbcType="VARCHAR" />
    <result column="gjfl" property="gjfl" jdbcType="VARCHAR" />
    <result column="sbwz_ls" property="sbwzLs" jdbcType="VARCHAR" />
    <result column="sqrq" property="sqrq" jdbcType="TIMESTAMP" />
    <result column="sqrmc_zw" property="sqrmcZw" jdbcType="VARCHAR" />
    <result column="need_attention" property="needAttention" jdbcType="DOUBLE" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="sourcetype" property="sourcetype" jdbcType="DOUBLE" />
    <result column="blindperiod" property="blindperiod" jdbcType="DOUBLE" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="zch_number" property="zchNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, zch, gjfl, sbwz_ls, sqrq, sqrmc_zw, need_attention, last_update_date, sourcetype, 
    blindperiod, tags, zch_number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand_info_baseinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from brand_info_baseinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from brand_info_baseinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPOExample" >
    delete from brand_info_baseinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPO" >
    insert into brand_info_baseinfo (id, zch, gjfl, 
      sbwz_ls, sqrq, sqrmc_zw, 
      need_attention, last_update_date, sourcetype, 
      blindperiod, tags, zch_number
      )
    values (#{id,jdbcType=VARCHAR}, #{zch,jdbcType=VARCHAR}, #{gjfl,jdbcType=VARCHAR}, 
      #{sbwzLs,jdbcType=VARCHAR}, #{sqrq,jdbcType=TIMESTAMP}, #{sqrmcZw,jdbcType=VARCHAR}, 
      #{needAttention,jdbcType=DOUBLE}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{sourcetype,jdbcType=DOUBLE}, 
      #{blindperiod,jdbcType=DOUBLE}, #{tags,jdbcType=VARCHAR}, #{zchNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPO" >
    insert into brand_info_baseinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zch != null" >
        zch,
      </if>
      <if test="gjfl != null" >
        gjfl,
      </if>
      <if test="sbwzLs != null" >
        sbwz_ls,
      </if>
      <if test="sqrq != null" >
        sqrq,
      </if>
      <if test="sqrmcZw != null" >
        sqrmc_zw,
      </if>
      <if test="needAttention != null" >
        need_attention,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="sourcetype != null" >
        sourcetype,
      </if>
      <if test="blindperiod != null" >
        blindperiod,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="zchNumber != null" >
        zch_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zch != null" >
        #{zch,jdbcType=VARCHAR},
      </if>
      <if test="gjfl != null" >
        #{gjfl,jdbcType=VARCHAR},
      </if>
      <if test="sbwzLs != null" >
        #{sbwzLs,jdbcType=VARCHAR},
      </if>
      <if test="sqrq != null" >
        #{sqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sqrmcZw != null" >
        #{sqrmcZw,jdbcType=VARCHAR},
      </if>
      <if test="needAttention != null" >
        #{needAttention,jdbcType=DOUBLE},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourcetype != null" >
        #{sourcetype,jdbcType=DOUBLE},
      </if>
      <if test="blindperiod != null" >
        #{blindperiod,jdbcType=DOUBLE},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="zchNumber != null" >
        #{zchNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPOExample" resultType="java.lang.Integer" >
    select count(*) from brand_info_baseinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update brand_info_baseinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.zch != null" >
        zch = #{record.zch,jdbcType=VARCHAR},
      </if>
      <if test="record.gjfl != null" >
        gjfl = #{record.gjfl,jdbcType=VARCHAR},
      </if>
      <if test="record.sbwzLs != null" >
        sbwz_ls = #{record.sbwzLs,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrq != null" >
        sqrq = #{record.sqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sqrmcZw != null" >
        sqrmc_zw = #{record.sqrmcZw,jdbcType=VARCHAR},
      </if>
      <if test="record.needAttention != null" >
        need_attention = #{record.needAttention,jdbcType=DOUBLE},
      </if>
      <if test="record.lastUpdateDate != null" >
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sourcetype != null" >
        sourcetype = #{record.sourcetype,jdbcType=DOUBLE},
      </if>
      <if test="record.blindperiod != null" >
        blindperiod = #{record.blindperiod,jdbcType=DOUBLE},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.zchNumber != null" >
        zch_number = #{record.zchNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update brand_info_baseinfo
    set id = #{record.id,jdbcType=VARCHAR},
      zch = #{record.zch,jdbcType=VARCHAR},
      gjfl = #{record.gjfl,jdbcType=VARCHAR},
      sbwz_ls = #{record.sbwzLs,jdbcType=VARCHAR},
      sqrq = #{record.sqrq,jdbcType=TIMESTAMP},
      sqrmc_zw = #{record.sqrmcZw,jdbcType=VARCHAR},
      need_attention = #{record.needAttention,jdbcType=DOUBLE},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      sourcetype = #{record.sourcetype,jdbcType=DOUBLE},
      blindperiod = #{record.blindperiod,jdbcType=DOUBLE},
      tags = #{record.tags,jdbcType=VARCHAR},
      zch_number = #{record.zchNumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPO" >
    update brand_info_baseinfo
    <set >
      <if test="zch != null" >
        zch = #{zch,jdbcType=VARCHAR},
      </if>
      <if test="gjfl != null" >
        gjfl = #{gjfl,jdbcType=VARCHAR},
      </if>
      <if test="sbwzLs != null" >
        sbwz_ls = #{sbwzLs,jdbcType=VARCHAR},
      </if>
      <if test="sqrq != null" >
        sqrq = #{sqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sqrmcZw != null" >
        sqrmc_zw = #{sqrmcZw,jdbcType=VARCHAR},
      </if>
      <if test="needAttention != null" >
        need_attention = #{needAttention,jdbcType=DOUBLE},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourcetype != null" >
        sourcetype = #{sourcetype,jdbcType=DOUBLE},
      </if>
      <if test="blindperiod != null" >
        blindperiod = #{blindperiod,jdbcType=DOUBLE},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="zchNumber != null" >
        zch_number = #{zchNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundata.metadata.model.po.BrandInfoBaseinfoPO" >
    update brand_info_baseinfo
    set zch = #{zch,jdbcType=VARCHAR},
      gjfl = #{gjfl,jdbcType=VARCHAR},
      sbwz_ls = #{sbwzLs,jdbcType=VARCHAR},
      sqrq = #{sqrq,jdbcType=TIMESTAMP},
      sqrmc_zw = #{sqrmcZw,jdbcType=VARCHAR},
      need_attention = #{needAttention,jdbcType=DOUBLE},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      sourcetype = #{sourcetype,jdbcType=DOUBLE},
      blindperiod = #{blindperiod,jdbcType=DOUBLE},
      tags = #{tags,jdbcType=VARCHAR},
      zch_number = #{zchNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>