<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundata.metadata.dao.mapper.BrandInfoSblcitemPOMapper" >
  <resultMap id="BaseResultMap" type="com.yundata.metadata.model.po.BrandInfoSblcitemPO" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="zch" property="zch" jdbcType="VARCHAR" />
    <result column="gjfl" property="gjfl" jdbcType="VARCHAR" />
    <result column="sblcitem" property="sblcitem" jdbcType="CHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="manual_flag" property="manualFlag" jdbcType="DOUBLE" />
    <result column="lastest" property="lastest" jdbcType="DOUBLE" />
    <result column="sblcdate" property="sblcdate" jdbcType="TIMESTAMP" />
    <result column="display_order" property="displayOrder" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, zch, gjfl, sblcitem, last_update_date, manual_flag, lastest, sblcdate, display_order
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundata.metadata.model.po.BrandInfoSblcitemPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand_info_sblcitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yundata.metadata.model.po.BrandInfoSblcitemPOExample" >
    delete from brand_info_sblcitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundata.metadata.model.po.BrandInfoSblcitemPO" >
    insert into brand_info_sblcitem (id, zch, gjfl, 
      sblcitem, last_update_date, manual_flag, 
      lastest, sblcdate, display_order
      )
    values (#{id,jdbcType=VARCHAR}, #{zch,jdbcType=VARCHAR}, #{gjfl,jdbcType=VARCHAR}, 
      #{sblcitem,jdbcType=CHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{manualFlag,jdbcType=DOUBLE}, 
      #{lastest,jdbcType=DOUBLE}, #{sblcdate,jdbcType=TIMESTAMP}, #{displayOrder,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yundata.metadata.model.po.BrandInfoSblcitemPO" >
    insert into brand_info_sblcitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zch != null" >
        zch,
      </if>
      <if test="gjfl != null" >
        gjfl,
      </if>
      <if test="sblcitem != null" >
        sblcitem,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="manualFlag != null" >
        manual_flag,
      </if>
      <if test="lastest != null" >
        lastest,
      </if>
      <if test="sblcdate != null" >
        sblcdate,
      </if>
      <if test="displayOrder != null" >
        display_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zch != null" >
        #{zch,jdbcType=VARCHAR},
      </if>
      <if test="gjfl != null" >
        #{gjfl,jdbcType=VARCHAR},
      </if>
      <if test="sblcitem != null" >
        #{sblcitem,jdbcType=CHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="manualFlag != null" >
        #{manualFlag,jdbcType=DOUBLE},
      </if>
      <if test="lastest != null" >
        #{lastest,jdbcType=DOUBLE},
      </if>
      <if test="sblcdate != null" >
        #{sblcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundata.metadata.model.po.BrandInfoSblcitemPOExample" resultType="java.lang.Integer" >
    select count(*) from brand_info_sblcitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update brand_info_sblcitem
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.zch != null" >
        zch = #{record.zch,jdbcType=VARCHAR},
      </if>
      <if test="record.gjfl != null" >
        gjfl = #{record.gjfl,jdbcType=VARCHAR},
      </if>
      <if test="record.sblcitem != null" >
        sblcitem = #{record.sblcitem,jdbcType=CHAR},
      </if>
      <if test="record.lastUpdateDate != null" >
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.manualFlag != null" >
        manual_flag = #{record.manualFlag,jdbcType=DOUBLE},
      </if>
      <if test="record.lastest != null" >
        lastest = #{record.lastest,jdbcType=DOUBLE},
      </if>
      <if test="record.sblcdate != null" >
        sblcdate = #{record.sblcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.displayOrder != null" >
        display_order = #{record.displayOrder,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update brand_info_sblcitem
    set id = #{record.id,jdbcType=VARCHAR},
      zch = #{record.zch,jdbcType=VARCHAR},
      gjfl = #{record.gjfl,jdbcType=VARCHAR},
      sblcitem = #{record.sblcitem,jdbcType=CHAR},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      manual_flag = #{record.manualFlag,jdbcType=DOUBLE},
      lastest = #{record.lastest,jdbcType=DOUBLE},
      sblcdate = #{record.sblcdate,jdbcType=TIMESTAMP},
      display_order = #{record.displayOrder,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>