<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundata.metadata.dao.mapper.OrderAttachementPOMapper" >
  <resultMap id="BaseResultMap" type="com.yundata.metadata.model.po.OrderAttachementPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sub_type" property="subType" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="user_info_id" property="userInfoId" jdbcType="VARCHAR" />
    <result column="remit_bank_num" property="remitBankNum" jdbcType="VARCHAR" />
    <result column="remit_name" property="remitName" jdbcType="VARCHAR" />
    <result column="remit_price" property="remitPrice" jdbcType="DECIMAL" />
    <result column="amount_in_words" property="amountInWords" jdbcType="VARCHAR" />
    <result column="remit_date" property="remitDate" jdbcType="TIMESTAMP" />
    <result column="operating_personnel_id" property="operatingPersonnelId" jdbcType="VARCHAR" />
    <result column="auditing_status" property="auditingStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, file_name, path, create_time, update_time, sub_type, phone, memo, user_info_id, 
    remit_bank_num, remit_name, remit_price, amount_in_words, remit_date, operating_personnel_id, 
    auditing_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundata.metadata.model.po.OrderAttachementPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_attachement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_attachement
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_attachement
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundata.metadata.model.po.OrderAttachementPOExample" >
    delete from order_attachement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundata.metadata.model.po.OrderAttachementPO" >
    insert into order_attachement (id, order_id, file_name, 
      path, create_time, update_time, 
      sub_type, phone, memo, 
      user_info_id, remit_bank_num, remit_name, 
      remit_price, amount_in_words, remit_date, 
      operating_personnel_id, auditing_status)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{subType,jdbcType=INTEGER}, #{phone,jdbcType=CHAR}, #{memo,jdbcType=VARCHAR}, 
      #{userInfoId,jdbcType=VARCHAR}, #{remitBankNum,jdbcType=VARCHAR}, #{remitName,jdbcType=VARCHAR}, 
      #{remitPrice,jdbcType=DECIMAL}, #{amountInWords,jdbcType=VARCHAR}, #{remitDate,jdbcType=TIMESTAMP}, 
      #{operatingPersonnelId,jdbcType=VARCHAR}, #{auditingStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yundata.metadata.model.po.OrderAttachementPO" >
    insert into order_attachement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="subType != null" >
        sub_type,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="userInfoId != null" >
        user_info_id,
      </if>
      <if test="remitBankNum != null" >
        remit_bank_num,
      </if>
      <if test="remitName != null" >
        remit_name,
      </if>
      <if test="remitPrice != null" >
        remit_price,
      </if>
      <if test="amountInWords != null" >
        amount_in_words,
      </if>
      <if test="remitDate != null" >
        remit_date,
      </if>
      <if test="operatingPersonnelId != null" >
        operating_personnel_id,
      </if>
      <if test="auditingStatus != null" >
        auditing_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subType != null" >
        #{subType,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="remitBankNum != null" >
        #{remitBankNum,jdbcType=VARCHAR},
      </if>
      <if test="remitName != null" >
        #{remitName,jdbcType=VARCHAR},
      </if>
      <if test="remitPrice != null" >
        #{remitPrice,jdbcType=DECIMAL},
      </if>
      <if test="amountInWords != null" >
        #{amountInWords,jdbcType=VARCHAR},
      </if>
      <if test="remitDate != null" >
        #{remitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatingPersonnelId != null" >
        #{operatingPersonnelId,jdbcType=VARCHAR},
      </if>
      <if test="auditingStatus != null" >
        #{auditingStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundata.metadata.model.po.OrderAttachementPOExample" resultType="java.lang.Integer" >
    select count(*) from order_attachement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_attachement
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.subType != null" >
        sub_type = #{record.subType,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.userInfoId != null" >
        user_info_id = #{record.userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.remitBankNum != null" >
        remit_bank_num = #{record.remitBankNum,jdbcType=VARCHAR},
      </if>
      <if test="record.remitName != null" >
        remit_name = #{record.remitName,jdbcType=VARCHAR},
      </if>
      <if test="record.remitPrice != null" >
        remit_price = #{record.remitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.amountInWords != null" >
        amount_in_words = #{record.amountInWords,jdbcType=VARCHAR},
      </if>
      <if test="record.remitDate != null" >
        remit_date = #{record.remitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatingPersonnelId != null" >
        operating_personnel_id = #{record.operatingPersonnelId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditingStatus != null" >
        auditing_status = #{record.auditingStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_attachement
    set id = #{record.id,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sub_type = #{record.subType,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=CHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      user_info_id = #{record.userInfoId,jdbcType=VARCHAR},
      remit_bank_num = #{record.remitBankNum,jdbcType=VARCHAR},
      remit_name = #{record.remitName,jdbcType=VARCHAR},
      remit_price = #{record.remitPrice,jdbcType=DECIMAL},
      amount_in_words = #{record.amountInWords,jdbcType=VARCHAR},
      remit_date = #{record.remitDate,jdbcType=TIMESTAMP},
      operating_personnel_id = #{record.operatingPersonnelId,jdbcType=VARCHAR},
      auditing_status = #{record.auditingStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundata.metadata.model.po.OrderAttachementPO" >
    update order_attachement
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subType != null" >
        sub_type = #{subType,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="remitBankNum != null" >
        remit_bank_num = #{remitBankNum,jdbcType=VARCHAR},
      </if>
      <if test="remitName != null" >
        remit_name = #{remitName,jdbcType=VARCHAR},
      </if>
      <if test="remitPrice != null" >
        remit_price = #{remitPrice,jdbcType=DECIMAL},
      </if>
      <if test="amountInWords != null" >
        amount_in_words = #{amountInWords,jdbcType=VARCHAR},
      </if>
      <if test="remitDate != null" >
        remit_date = #{remitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatingPersonnelId != null" >
        operating_personnel_id = #{operatingPersonnelId,jdbcType=VARCHAR},
      </if>
      <if test="auditingStatus != null" >
        auditing_status = #{auditingStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundata.metadata.model.po.OrderAttachementPO" >
    update order_attachement
    set order_id = #{orderId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sub_type = #{subType,jdbcType=INTEGER},
      phone = #{phone,jdbcType=CHAR},
      memo = #{memo,jdbcType=VARCHAR},
      user_info_id = #{userInfoId,jdbcType=VARCHAR},
      remit_bank_num = #{remitBankNum,jdbcType=VARCHAR},
      remit_name = #{remitName,jdbcType=VARCHAR},
      remit_price = #{remitPrice,jdbcType=DECIMAL},
      amount_in_words = #{amountInWords,jdbcType=VARCHAR},
      remit_date = #{remitDate,jdbcType=TIMESTAMP},
      operating_personnel_id = #{operatingPersonnelId,jdbcType=VARCHAR},
      auditing_status = #{auditingStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>